*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.barra-pesquisa h1{
    padding: 25px;
    align-items: start;
    color: whitesmoke;
}

.barra-pesquisa input{
    height: 40px;
    width: 700px;
    padding: 10px;
}

.barra-pesquisa button{
    align-items: center;
    height: 40px;
    width: 60px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin-left: 1rem;
}

.galeria img{
    width: 290px;
    height: 300px;
    margin: 0.8rem 0;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 50%);
    object-fit: cover;
}